body {
    background: rgb(40, 63, 87);
}

main {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
}

.standardSection {
    width: 900px;
    height: 300px;
    margin: 5px 0;
    font-size: 1.3em;
    overflow: hidden;
    position: relative;
}

.standardSection img, .standardSection div {
    transition: transform 3000ms ease;
    max-width: 100%;
    height: auto;
}

.textWithImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    text-align: justify;
}

.elementHidden {
    display: none;
}

/* = = = = = = = = = = = = = = = = = = */

.background--blue {
    background: rgb(99, 151, 199);
}

.background--lavender {
    background: rgb(194, 73, 224);
}

.background--mint {
    background: rgb(99, 199, 169);
}

.background--green {
    background: rgb(59, 163, 64);
}

.background--yellow {
    background: rgb(211, 221, 73);
}

.background--red {
    background: rgb(199, 99, 99);
}

/* = = = = = = = = = = = = = = = = = = */

@media screen and (max-width: 600px) {
    .textWithImage div {
        font-size: 0.8em;
    }
    .textWithImage img {
        height: 250px;
    }
    .resizeHeight {
        height: 260px;
    }
    .imgSlide5, .imgSlide6 {
        right: 0%;
    }
}

@media screen and (max-width: 380px) {
    .textWithImage div {
        font-size: 0.7em;
    }
    .textWithImage img {
        height: 200px;
    }
    .resizeHeight {
        height: 220px;
    }
}